@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}


[class*="__container"] {
	width: 1275px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

}

body {
	font-family: 'Lato',
		sans-serif;
	;
}

.practice {
	padding: 50px;
	background-color: #8f7f7b;

}

.practice__container {}

.practice__line {
}

.practice__input {
	width: 100%;
	height: 50px;
	padding: 0px 15px;
	font-size: 24px;
	color: blueviolet;
}

.practice__input::placeholder {
	color: rgb(0, 204, 255);
}

.practice__line:not(:last-child) {
	margin-bottom: 15px;
}


.practice__input--chk {
	width: auto;
	vertical-align: middle;
}

.practice__label {
	display: inline-block;
	margin-bottom: 15px;
	font-size: 30px;
}

.practice__radio {
	display: inline-block;
	margin-bottom: 15px;
}



.practice__area {
	width: 50%;
	padding: 20px;
	height: 200px;
	margin-top: 10px;
	resize: vertical;
}

.form__input {}






.page {}

.main {
	padding-bottom: 180px;
	padding-top: 80px;
}

.main__container {
	display: flex;
}

.main__image {
	margin-top: 67px;

}

.main__img {
	max-width: 100%;
}

.main__about-us {

	flex: 0 1 50%;
	padding-left: 105px;
}

.about-main {}



.text {
	display: inline-flex;
	gap: 8px;
	flex-direction: column;
	flex-wrap: wrap;

}

.about-main__text:not(:last-child) {
	margin-bottom: 40px;
}

.text__sub-title {
	color: #1E212C;
	line-height: 1.5;
	font-weight: 700;

}

.text__title {
	font-size: 46px;
	font-weight: 900;
	line-height: 1.3;
	color: #1E212C;
}

.about-main__form {
	flex: 0 1 auto;


}

.about-main__question-items {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	flex-direction: column;
	line-height: 1.6;


}

.about-main__question-items:not(:last-child) {
	margin-bottom: 48px;
}

.about-main__linner {
	display: flex;
	margin: 0px -12.5px;

}

.about-main__ma-pho {
	display: flex;
	margin: 0px -12.5px;
}



.about-main__line {
	display: flex;
	padding: 0 13px;
	gap: 8px;
	flex-direction: column;
	height: 86px;
	flex: 0 0 50%;
	width: 340px;
}


.about-main__line-mass {
	width: 705px;
	height: 162px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex: 1 1 50%;
}

.about-main__label {
	color: #424551;
	line-height: 1.6;
	gap: 8px;

}

.about-main__input {
	/* color: #9A9CA5; */
	padding: 13px 20px 13px 16px;
	border: 1px solid #D7DADD;
	height: 52px;
}

.about-main__area {
	width: 100%;
	/* width: 705px; */
	height: 128px;
	border: 1px solid #D7DADD;
	padding: 15px;
	resize: vertical;
	border-radius: 4px;

}

.about-main__down {
	display: flex;
	flex-wrap: wrap;

}






/* Чек бокс=============================================== */

.about-main__box {

	display: inline-flex;
	align-items: flex-start;
	gap: 12px;
	height: 52px;
	padding-right: 10px;
	flex: 1 1 315px;

}

.about-main__box .about-main__labels {
	line-height: 1.6;
	color: #424551;

}

/* .about-main__input-chk {
	display: inline-flex;
	color: #424551;
	line-height: 1.6;
	align-items: center;
	cursor: pointer;


} */

.about-main__input-chk {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.about-main__labels {
	display: inline-flex;
	gap: 12px;
	cursor: pointer;
	line-height: 1.6;
}

.about-main__input-chk:checked+.about-main__labels::before {
	background: #FF3F3A url("../img/check.svg") no-repeat center;
}

.about-main__labels::before {
	content: '';
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
	border: 1px solid #FF3F3A;
	border-radius: 3px;
	transform: translate(0, 5px);


}












.about-main__button {
	justify-content: center;
	margin-left: 21px;

}

.button {
	display: inline-flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	min-height: 52px;
	padding: 5px 40px;
	background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	transition: all 0.5s ease 0s;
	background-size: 300% 50%;
	border-radius: 4px;
	position: relative;
	flex: 0 1 340px;


}

.button::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease 0s;
	background: linear-gradient(55.95deg, #c2413c 0%, #d15c18 100%);
	opacity: 0;
	border-radius: 4px;
}


.button span {
	position: relative;
	z-index: 2;

}

.button:hover::before {
	opacity: 1;
}